<form enctype="multipart/form-data" id="js-image-upload-form">
    Image: <input type="file" name="image" id="form-image-input">
    <input type="submit" value="Submit">
</form>

<%- include('./uploadedImage.ejs') %>
